@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
  font-family: 'Roboto', sans-serif;

}

.emi-info{
  text-align: center;
  font-size: 15px;
  height:40px;
  background: #1D1D1F;
  /* color:hsl(240, 2%, 22%); */
  color:#fff;
  padding:0;
  margin:0;
  font-weight: 100;
}
.emi-info a{
  text-align: center;
  color:#3988D6;
  text-decoration: none;
}
.arrow{
  font-size:11px;
}

